*.adb1
*.ads1
*.orig
*.oml
*.sta
*.ada
*.arff
*.clang-format
*.rtf
*.csv
*.o
*.obj
*obj*
*.a
*.ali
*.dib
*.dot
*.json
*.stderr
*.stdout
*.cswi
*.bexch
*.xml
*.db
*.db*
*.cgpr
*.pyc
*lyx~
*.lyx#
*.DS_Store
*pycache*
b__*
.#*
sklearn
access token.txt
*sublime-workspace
*sublime-project
*.code-workspace